.arriba{
   background: linear-gradient(to right, rgb(105, 224, 233), rgb(219, 71, 162)) ;
   padding: 0;
   display: flex;
   justify-content: center;
   align-content: center;
   }
   .imagen-zoom {

    transition: transform 0.3s ease; /* Suaviza el efecto */
    }

.imagen-zoom:hover {
    transform: scale(1.1); /* Aumenta al 120% */
    }
    body{
    background-color: rgb(169, 212, 240);
    display: flex;
    flex-direction: column;
    margin: 0;
    }
    img{
    width: 37rem;
    }
    h2{
    color:rgb(89, 89, 235);
    }